* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
}

html,body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.7em;
}

a {
  color: rgb(39, 37, 37);
  text-decoration: none;
}

/* h1 {
  padding-top: 20px;
  padding-left: 20px;
} */

#navbar {
  background-color: #444;
  color: white;
  overflow: auto;
  width: 100%;
}

#navbar a {
  color: white;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
  padding-left: 20px; 
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background-color: rgb(61, 59, 56);
  color: #ff9b91ff;
}

#cor_pantone {
  float: right;
  width: 60%;
  height: 400px;
  
  
}

#sala_pantone {
  float: left; 
  width: 40%;
  height: 400px;
  
}


#bv {
  background: url('./pantone.jpg') center center/cover;
  width: 100%;
  height: 400px;
  float: right;
  width: 60%;
}

#bv h1{
 padding: 30px;
 font-size: 50px;
 color: rgba(61, 59, 56, 0.761);
 text-align: left;

}

#mural {
  display: block;
  background-color:rgba(255, 154, 145, 0.367);
  height: 260px;
  width: 60%;
  float: right;
}

#mural h2 {
  font-size: 25px;
  color: rgba(61, 59, 56, 0.7);
  text-align: left;
  padding: 30px;
  padding-left: 40px;
  /* overflow: hidden; */
  
}

#form {
  text-align: left;
  /* padding: 30px; */
  display: block;
  
}

#form h3{
  color: rgb(39, 37, 37);
  padding: 20px;
  padding-bottom: 40px;
  font-size: 20px;
  text-align: center;
  
}

#form input{
  display: block;
  width: 45%;
  text-align: center;
  position: relative;
  left: 130px;
  bottom: 28px;
  /* padding: 0px; */
}

#form label{
  color: rgb(61, 59, 56);
  font-size: 20px;
  margin-left: 40px;
}

#form button{
color: rgb(61, 59, 56);
padding: 10px;
width: 20%;
position: relative;
left: 265px;
bottom: 10px;
}

#controle_estoque h2 {
  display: block;
  background-color: rgba(255, 154, 145, 0.428);
  font-family: 'Roboto';
  color: rgb(61, 59, 56);
  text-align: center;
  padding: 20px;
  width: 100%;
}

table {
  display: block;
}

table th {
  padding: 30px;
  text-align: center;
}

table td {
  padding: 30px;
  text-align: center;
}

#add_produto a{
  float: right;
  padding: 20px;
  font-weight: bold;

}
#add_produto a:hover{
background-color: #ff9b91ff;
}

.equipe {
  display: block;
  background-color: rgba(255, 154, 145, 0.353);
  font-family: 'Roboto';
  color: rgb(61, 59, 56);
  text-align: center;
}

.lista_funcionarios {
  display: block;
  padding-top: 20px;
  padding-bottom: 30px;
  list-style: none;
  color: rgb(61, 59, 56);
}


#feedback h2{
  color: rgb(61, 59, 56);
  padding: 10px;
  background-color:  rgba(255, 154, 145, 0.319);
  text-align: center;
  
}

#feedback p{
  padding: 20px;
  padding-bottom: 30px;
  text-align: left;
  color: rgb(61, 59, 56);
   
}

#feedback input {
  display: block;
  padding:80px;
  text-align: center;
  width: 90%;
  margin-left: 20px;
  margin-bottom: 20px;
  
}

#feedback button {
  display: block;
  padding: 10px;
  width: 15%;
  margin: auto;
  margin-bottom: 10px;

}

#footer {
  text-align: center;
  background-color: #444;
  color: white;
  padding: 20px;
}

.add_produto {
color: #444
padding: 20px;
margin: 20px;
}

.add_produto input{
  display: block
  
}

.add_produto button {
  margin-left: 100px;
  margin-bottom:10px;
  padding: 10px;
  display: block;
  
}

#produto h1 {
  background: rgba(255, 154, 145, 0.462);
  color: #444;
  font-size: 20px;
  padding: 10px;

}

