header {
  height: 20vh;
}


.add-task {
  display: flex;
  padding: 10px;
}


.middle div {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(1fr, 7);
}

hr {
  border-style: groove;
}