* {
  margin: 0;
  padding: 0;
}

.big-card {
  display: flex;
  min-height: 20vh;
  align-items: center;
  justify-content: flex-start;
  min-width: 40vw;
  border: grey solid 1px;
  padding: 5px;
}

#big-card-img img {
  border-radius: 50%;
  height: 10vh;
  width: 5vw;
  margin: 10px;
  margin-right: 20px;
}

#big-card-text  {
  text-align: left;
  width: 30vw;
}

#big-card-text h3 {
  padding-bottom: 10px;
}
