* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
} 

#side-menu {
  background: lightgrey;
  height: 100%;
  width: 20vw;
}

#side-menu h1{
  background: lightgrey;
  font-size: 12px;
}  

#side-menu ul li {
  background: lightgrey;
  padding: 5px;
} 

#right-section {
  width: 80vw;
  height: 100vw;
}

#top-bar {
  background: red;
  height: 80px;
  margin: 10px;
  margin-top: 0;
}

#lists ul {
  display: flex;
  justify-content: center;
  align-content: center;
}

#lists li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 10px;
}

.list-purple {
  background: purple;
  width: 25vw;
  height: 100px;
}

.list-yellow {
  background: yellow;
  width: 25vw;
  height: 100px;
}

.list-green {
  background: green;
  width: 25vw;
  height: 100px;
}

.list-black {
  background: black;
  color: white;
  width: 40vw;
  height: 300px;
}

.list-white {
  background: rgb(141, 128, 128);
  width: 25vw;
  height: 100px;
}

@media (max-width: )


